.mercury-display-pane(style='width: 500px')
  %h2 Full Name Snippet
  = semantic_form_for @snippet, :url => '#' do |f|
    = f.inputs do
      = f.input :first_name
      = f.input :last_name
    .mercury-display-controls
      = f.actions do
        = f.action :submit

