.mercury-display-pane(style='width: 500px')
  = form_for @snippet, :url => '#', html: { class: 'form-horizontal'} do |f|
    %fieldset
      %legend Full Name Snippet
      .control-group
        = f.label :first_name, class: 'control-label'
        .controls
          = f.text_field :first_name
      .control-group
        = f.label :last_name, class: 'control-label'
        .controls
          = f.text_field :last_name
    .form-actions.mercury-display-controls
      = f.submit class: 'btn btn-primary'

