= form_for @page, :html => { :class => "form-horizontal" } do |f|
  .form-inputs.mercury-display-pane-container
    %fieldset
      %legend Page Info
      .control-group
        = f.label :title, class: 'control-label'
        .controls
          = f.text_field :title
      .control-group
        = f.label :slug, class: 'control-label'
        .controls
          = f.text_field :slug
    %fieldset
      %legend Appearance
      .control-group
        = f.label :template, class: 'control-label'
        .controls
          = f.select :template, Cmsimple::TemplateResolver.all, include_blank: 'None / Inherit'
    %fieldset
      %legend Hierarchy
      .control-group
        = f.label :parent_id, class: 'control-label'
        .controls
          = f.select :parent_id, Cmsimple::Page.for_parent_select(@page).map { |p| [ p.select_label, p.id ] }, include_blank: 'None'
      .control-group
        .controls
          = f.label :is_root, class: 'checkbox' do
            Home Page?
            = f.check_box :is_root
    %fieldset
      %legend SEO Info
      .control-group
        = f.label :browser_title, class: 'control-label'
        .controls
          = f.text_field :browser_title
      .control-group
        = f.label :keywords, class: 'control-label'
        .controls
          = f.text_field :keywords
      .control-group
        = f.label :description, class: 'control-label'
        .controls
          = f.text_field :description, input_html: {rows: 5}
    = render partial: 'form_extras', locals: {f: f}

  .form-actions.mercury-display-controls
    - unless @page.new_record?
      = link_to 'Delete', page_path(@page), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you would like to permanently delete this page?\n\nIt will delete all versions and associated paths. If you are unsure you can unpublish a page to remove it from public access." }
    = f.submit class: 'btn btn-primary'
