= semantic_form_for @page, html: {class: 'mercury-form'} do |f|
  = f.inputs 'Page Info' do
    = f.input :parent_id, collection: Cmsimple::Page.for_parent_select(@page), as: :select, prompt: 'None'
    = f.input :title
    = f.input :slug
    = f.input :template, collection: Cmsimple::TemplateResolver.all, prompt: 'None / Inherit'
    = f.input :is_root, label: 'Home Page?'
  = f.inputs 'SEO Info' do
    = f.input :browser_title
    = f.input :keywords
    = f.input :description, input_html: {rows: 5}
  = render partial: 'form_extras', locals: {f: f}
  .mercury-display-controls
    = f.actions do
      = f.action :submit
