= form_for @image, :html => { :class => "form-horizontal" } do |f|
  .form-inputs.mercury-display-pane-container
    %fieldset
      .control-group
        = f.label :title, class: 'control-label'
        .controls
          = f.text_field :title
      .control-group
        = f.label :attachment, class: 'control-label'
        .controls
          = f.file_field :attachment
  .form-actions.mercury-display-controls
    = f.submit class: 'btn btn-primary', label: 'Upload'
