= content_for :title do
  = @page.browser_title
= content_for :keywords do
  = @page.keywords
= content_for :description do
  = @page.description

%h2 Editable
%section#editable1.mercury-region(data-type='editable')
  =region_content @page.regions.editable1

%h2 Snippetable
%section#snippetable1.mercury-region(data-type='snippetable')
  =region_content @page.regions.snippetable1

%h2 Markupable
%section#markupable1.mercury-region(data-type='markupable')
  =region_content @page.regions.markupable1

