.mercury-display-pane(style='width: 500px')
  = form_for @snippet, :url => '#', html: { class: 'form-horizontal'} do |f|
    %fieldset
      %legend Image Example Snippet
      .control-group
        = f.label :title, class: 'control-label'
        .controls
          = f.text_field :title
      .control-group
        = f.label :summary, class: 'control-label'
        .controls
          = f.text_field :summary
      = f.hidden_field :image_1
    .form-actions.mercury-display-controls
      = f.submit class: 'btn btn-primary'
